body
{
    background-color: #fffb54;
}
button
{
    background-color: #bffff5;
    color: #460fff;
    height: 40px;
    width: 150px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
}
button:hover
{
    background-color: #000000;
    color: #ff2727;
    transition: height 0s, background-color 0s;
    height: 45px;
}
.nav
{
    display: flex;
    justify-content: right;
}
.x
{
    height: 5px;
    background-color: #ff4765;
    border-radius: 10px;
}
.fom
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.z
{
    width: 96%;
    margin-top: 20px;
    background-color: #f7d4ff;
    border: 2px solid #0117ff;
    border-radius: 10px;
    height: 40px;
    padding-left: 15px;
}
.y
{
    width: 96%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f7d4ff;
    border: 2px solid #0117ff;
    border-radius: 10px;
    height: 40px;
    padding-left: 15px;
}